/*
 * @Author: LiLu
 * @Date: 2024-10-09 17:31:47
 * @FilePath: /voc-report-nissan-dndc-html/src/style/layouts.scss
 * @Description: 布局相关的样式
 */
.min-h-700 {
  min-height: 700px !important;
}
.page-container {
  padding-top: 102px;

  position: relative;
  height: 100%;
  .container {
    padding: 0 40px 40px;
    height: 100%;
    overflow: auto;
  }
}

.content-header {
  padding: 40px 0 6px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
  background: #f0f3fa;
  position: absolute;
  top: 0;
  left: 40px;
  right: 50px;
  .title {
    font-size: 24px;
    color: #202631;
    line-height: 28px;
    flex: none;
  }
  .ch-subtitle {
    font-size: 12px;
    color: #6b6d75;
    line-height: 14px;
  }
}

.card {
  width: 100%;
  min-height: 100px;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px 24px;

  &.full {
    height: calc(100vh - 160px - 59px - 23px);
  }
  .card-header {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    .ch-title {
      font-size: 16px;
      color: #4b5468;
      line-height: 24px;
      display: flex;
      align-items: center;
      .cht-tip {
        font-size: 12px;
        color: #6e7b91;
        line-height: 12px;
      }
    }
    .ch-operation {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
  .card-content {
    flex: 1;
  }
  .card-line {
    width: 100%;
    height: 1px;
    background: rgba(#4b5468, 0.15);
  }
  .card-footer {
    flex: none;
    // height: 80px;
    padding: 24px 0 4px 0;

    &.cf-border-top {
      border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
    }
  }
}

.query-card {
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  .qc-header {
    padding: 24px 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    .qch-title {
      font-size: 16px;
      color: #4b5468;
      line-height: 24px;
    }
    .qch-operation {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
  .qc-content {
    display: flex;
    padding: 12px 24px 24px;

    .qcc-form {
      flex: 1;
    }
    .qcc-btn-gtoup {
      flex: none;
      width: 216px;
      height: 80px;
      display: flex;
      border-left: 1px solid #e5e6eb;
    }
  }
}
