/*
 * @Author: LiLu
 * @Date: 2024-10-29 14:09:55
 * @FilePath: /voc-report-nissan-dndc-html/src/style/variables.scss
 * @Description: scss变量
 */

$--color-primary: #165dff;

$--border-color: #e5e6eb;
$--color-shadow: rgba(0, 0, 0, 0.08);

// 基础边框颜色及样式
$--color-dde3ee: #dde3ee;
$--border: 1px solid $--color-dde3ee;

$--color-f1f2fc: #f1f2fc;
$--border-f1f2fc: 1px solid $--color-f1f2fc;

$--color-fff: #ffffff;
$--color-000: #000000;
$--color-333: #333333;
$--color-666: #666666;
$--color-999: #999999;
$--color-f0f3fa: #f0f3fa;
$--color-4e5969: #4e5969;
$--color-86909c: #86909c;
$--color-1d2129: #1d2129;
$--color-26292e: #26292e;
$--color-98a2b2: #98a2b2;
$--color-6e7b91: #6e7b91;
$--color-009949: #009949;
$--color-6b6d75: #6b6d75;
$--color-d92d3c: #d92d3c;
$--color-09121f: #09121f;
$--color-e6f8f5: #e6f8f5;
$--color-dd3e3e: #dd3e3e;
$--color-e5f1ff: #e5f1ff;
$--color-05a4b3: #05a4b3;
$--color-3382cb: #3382cb;
$--color-ff7b2f: #ff7b2f;
$--color-ffb53a: #ffb53a;
$--color-f9f9f9: #f9f9f9;
$--color-4b5468: #4b5468;
$--color-7fccff: #7fccff;
$--color-27c29f: #27c29f;
$--color-2c9bde: #2c9bde;
$--color-131b2a: #131b2a;
$--color-19c9d4: #19c9d4;
$--color-ddf2fc: #ddf2fc;
$--color-2bb8c2: #2bb8c2;
$--color-e9c732: #e9c732;
$--color-1da6ed: #1da6ed;
$--color-287bc8: #287bc8;
$--color-b9d7ef: #b9d7ef;
$--color-5ac25d: #5ac25d;
$--color-c7ebd1: #c7ebd1;
$--color-b6e2f9: #b6e2f9;
$--color-dc6f00: #dc6f00;
$--color-ebd3b8: #ebd3b8;
$--color-c8e2fa: #c8e2fa;
$--color-d9d9d9: #d9d9d9;
$--color-55aee5: #55aee5;
$--color-25c1c8: #25c1c8;
$--color-79d089: #79d089;
$--color-0082d6: #0082d6;
$--color-bfc9dd: #bfc9dd;
$--color-ff7e2f: #ff7e2f;
$--color-c6c8cd: #c6c8cd;
$--color-f6f6f6: #f6f6f6;
$--color-1168ca: #1168ca;
$--color-fbfbfd: #fbfbfd;
$--color-001e50: #001e50;
$--color-29b9c2: #29b9c2;
$--color-b4bfcc: #b4bfcc;
$--color-e78fa1: #e78fa1;
$--color-fbeef1: #fbeef1;
$--color-e7f5fb: #e7f5fb;
$--color-555: #555555;
